@keyframes rotateGear {
  0% {
    transform: rotate(0deg);
  }
  33%{
    transform: rotate(120deg);
  }
  66%{
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gear-rotate {
  animation: rotateGear 4s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
  clip-path: circle(50%);
}