.permanent-rotate {
    animation: permanent-rotate 10s linear infinite;
}

@keyframes permanent-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}